*{
	margin : 0;
	padding : 0;
}
#canvasContainer {
	background-image: url("../images/background1.gif");
	background-size : cover;
	overflow : hidden;
	width: 1000px;
}
@font-face {
	font-family: "bit";
    src: url("../fonts/8bit.ttf");
}